# dependencies
node_modules

# next.js
.next
out
next-env.d.ts

# production
build
dist

# misc
.DS_Store
*.pem

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env*.local
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
.claude/skills
